@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --font-primary: var(--font-poppins);
  --font-secondary: var(--font-geist);

  --radius: 0.5rem;

  --color-primary: #1d3a81;
  --color-secondary: #0011ff;

  --animate-aurora: aurora 8s ease-in-out infinite alternate;

  @keyframes aurora {
    0% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }

    25% {
      background-position: 50% 100%;
      transform: rotate(5deg) scale(1.1);
    }

    50% {
      background-position: 100% 50%;
      transform: rotate(-3deg) scale(0.95);
    }

    75% {
      background-position: 50% 0%;
      transform: rotate(3deg) scale(1.05);
    }

    100% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
  }

  --animate-shiny-text: shiny-text 8s infinite;

  @keyframes shiny-text {

    0%,
    90%,
    100% {
      background-position: calc(-100% - var(--shiny-width)) 0;
    }

    30%,
    60% {
      background-position: calc(100% + var(--shiny-width)) 0;
    }
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.141 0.005 285.823);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.141 0.005 285.823);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.141 0.005 285.823);
    --primary: oklch(0.21032 0.00588 285.88352);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.96756 0.00133 286.37516);
    --secondary-foreground: oklch(0.141 0.005 285.823);
    --accent: oklch(0.96756 0.00133 286.37516);
    --accent-foreground: oklch(0.141 0.005 285.823);
    --destructive: oklch(0.63683 0.20776 25.32589);
    --destructive-foreground: oklch(0.985 0 0);
    --muted: oklch(0.96955 0 0);
    --muted-foreground: oklch(0.141 0.005 285.823);
    --border: oklch(0.91972 0.00404 286.31999);
    --input: oklch(0.91972 0.00404 286.31999);
    --ring: oklch(0.21032 0.00588 285.88352);
  }

  .dark {
    --background: oklch(0.14051 0.00437 285.82376);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.14051 0.00437 285.82376);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.19788 0.00729 285.71425);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.98481 0 0);
    --primary-foreground: oklch(0.141 0.005 285.823);
    --secondary: oklch(0.27412 0.00548 286.03291);
    --secondary-foreground: oklch(0.985 0 0);
    --accent: oklch(0.27412 0.00548 286.03291);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.63683 0.20776 25.32589);
    --destructive-foreground: oklch(0.985 0 0);
    --muted: oklch(0.25704 0.01427 285.3525);
    --muted-foreground: oklch(0.985 0 0);
    --border: oklch(0.27412 0.00548 286.03291);
    --input: oklch(0.27412 0.00548 286.03291);
    --ring: oklch(0.98481 0 0);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-primary), var(--font-secondary);
    scroll-behavior: smooth;
  }
}

::selection {
  @apply bg-primary text-primary-foreground;
}

body::-webkit-scrollbar {
  width: 0;
}

.spin {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}